
.list-container-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
}
.list-container h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.list-item {
    margin: 10px 0;
    background-color: #f8fafc;
    /*border-left: 5px solid #cdcdcd;*/
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}
.list-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.list-number {
    font-size: 1.5em;
    font-weight: bold;
    color: #cdcdcd;
    margin-right: 20px;
    min-width: 40px;
    text-align: center;
}
.list-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #34495e;
    flex-grow: 1;
}
.list-header {
    display: flex;
    align-items: center;
    padding-top: 15px;
    cursor: pointer;
}
.list-content {
    font-size: 1em;
    color: #34495e;
    padding: 0 15px 15px 75px;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    text-align:left;
    margin-top: 10px;
}
.list-item.active .list-content {
    max-height: 200px; /* Adjust based on content size */
    opacity: 1;
}
.list-item.active {
    /* border-left: 5px solid #7700ff; */
}
.list-item.active .list-number {
    color:#7700ff;
}