/*** NESTED LIST-CONTAINER ***/
.list-nested-container-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-nested-container {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    width: 100%;
}
.list-nested-item {
    margin: 10px 0;
    background-color: #f8fafc;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}
.list-nested-item.active .list-nested-content {
    display: block;
    max-height: 500px; /* Adjust based on content size */
    opacity: 1;
}
.list-nested-item:hover {
    background-color: #ffffff80;
}
.list-nested-item ul {
    list-style-type: disc;
    margin-left: 10px;
}
.list-nested-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #34495e;
    flex-grow: 1;
}
.list-nested-header {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}
.list-nested-content {
    display: none;
    font-size: 1em;
    color: #34495e;
    padding: 0 15px 15px 75px;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    text-align:left;
    margin-top: 10px;
}
