.t396 a {
  color: #fff;
  text-decoration: underline dotted !important;
}
.t456__list_item a {
  color: #fff;
  opacity: 0.7;
  text-decoration: underline dotted !important;
}
.t456__list_item a:hover {
  color: #fff;
  opacity: 1;
}
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

/*
.grid-section h2 {
    font-size: 1.8rem;
    font-family: "RostelecomBasis-Bold";
    color: #333333;
    line-height: 2rem;
    letter-spacing: .004em;
    margin-bottom: 20px;
}
*/
/* OLD MAIN CONTENT PAGE TITLE
.header-container {
    display: flex;
    align-items: center;
    max-width: 760px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 20px 60px 100px;
}
h2.header-orange {
    display: inline-block;
    background-color: #ff4f12;
    padding: 0.03703704em 0.33333333em;
    white-space: nowrap;
    margin-bottom: 20px;

    font-family: "RostelecomBasis-Bold";
    font-weight: bold;
    font-size: 3em;
    line-height: 1.125;
    letter-spacing: .00015625em;
    color: #fff;
}
.header-subtext {
    font-size: 1.5em;
    color: #fdbaa4;
    font-weight: 400;
    margin: 0;
    line-height: 1.7;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
*/

.header-container {
    margin: 0 auto;
    text-align: center;
}
h2.header-orange {
    display: inline-block;
    background-color: #ff4f12;
    padding: 0.03703704em 0.33333333em;
    white-space: nowrap;
    font-family: "RostelecomBasis-Bold";
    font-weight: bold;
    font-size: 3em;
    line-height: 1.125;
    letter-spacing: .00015625em;
    color: #fff;
}
.container h2.header-orange {
  font-size: 4em;
}
.header-subtext {
    display: inline-block;
    font-size: 1.2em;
    color: #FFF;
    background-color: #ff4f12;
    font-family: "RostelecomBasis-Bold";
    font-weight: 400;
    white-space: nowrap;
    margin: 0;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.03703704em 0.33333333em;
}

.grid-section {
    margin-bottom: 60px;
    text-align: center;
}

.grid-section .grid-section-flag {
  background-color: #fff;
  border-top-right-radius: 0.09259259em;
  position: relative;
}

.grid-section .grid-section-flag::after {
  background: url(fold_grey.svg) 100% 0% no-repeat;
  background-size: cover;
  content: "";
  height: 0.37037037em;
  display: block;
  position: absolute;
  top: -20px;
  right: -191px;
  width: 1.62962963em;
  padding-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.centered {
    text-align: center;
}
.grid-tile-title {
    word-break: break-word; /* Prevents overflow by breaking long words */
    text-align: center;
    margin-bottom: 10px;
    flex-shrink: 0; /* Prevents header from shrinking */
}

.grid-title-min-height {
  min-height: 60px;
}

.grid-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 48, 135, 0.2);
    /*border: 2px solid #7700ff;*/
    border-color: #9c46fe;
    background-color: #9c46fe;
    color: #fff;
}
.grid-tile:hover h3 {
    color: #fff;
}
.grid-tile:hover p {
    color: #fff;
}
.grid-tile:hover a {
    color: #fff;
}

.grid-container h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 26px;
    font-size: 1.444em;
    font-family: "RostelecomBasis-Bold";
    line-height: 2rem;
    letter-spacing: .004em;
}

.grid-container p {
    font-size: 0.9rem;
}

.tooltip {
    text-decoration: underline dotted;
}

.warning-alert {
  padding: 20px;
  background-color: #fff3cd;
  color: #665000;
  /* 
  border-left: 5px solid #ffc107;
  border-radius: 4px;
  */
  margin: 15px 0;
  display: flex;
  align-items: center;
  max-width: 400px;
}

.warning-icon {
  font-size: 24px;
  margin-right: 15px;
  color: #ffc107;
  font-weight: bolder;
}

.warning-content {
  display: flex;
  align-items: center;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 1.8rem;
    }
}

/* column */
.column {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 260px;
}
.column:before,
.column:after {
  content: "";
  display: table;
  clear: both;
}
.main-home .column {
  min-width: 300px;
}
@media all and (min-width: 1205px) {
  .column {
    max-width: 1204px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-home .column {
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 1204px) {
  .column {
    margin-left: 30px;
    margin-right: 30px;
  }
  .main-home .column {
    margin-left: 43px;
    margin-right: 43px;
    min-width: 0;
  }
}
@media all and (max-width: 989px) {
  .main-home .column {
    margin-left: 43px;
    margin-right: 43px;
  }
}
@media all and (max-width: 759px) {
  .main-home .column {
    margin-left: 88px;
    margin-right: 88px;
  }
  .main-home .cover .column {
    position: static;
  }
}
@media all and (max-width: 559px) {
  .main-home .column {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media all and (max-width: 519px) {
  .main-home .column {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media all and (max-width: 359px) {
  .main-home .column {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 280px;
  }
}

/* keyboard */
.keyboard {
  display: none;
}
@media all and (min-width: 1205px) {
  .keyboard {
    display: inline-block;
    white-space: nowrap;
  }
  .keyboard_btn {
    font-size: .47em;
    display: inline-block;
    min-width: 26px;
    min-width: 1.444rem;
    min-height: 26px;
    min-height: 1.444rem;
    box-sizing: border-box;
    padding: 4px 6px;
    background: #f7f8f8;
    border-radius: 3px;
    font-family: 'Arial';
    text-align: center;
    letter-spacing: 0;
  }
  .keyboard_btn-large {
    margin-left: 6px;
    min-width: 42px;
    text-align: right;
  }
}

/* made in */
.madeIn {
  margin-bottom: 1.6em;
}
.madeIn_text {
  display: inline-block;
  vertical-align: top;
  font-family: Arial;
  color: #cdcdcd;
  font-size: 0.722em;
  line-height: 2.154;
}
.madeIn_logo {
  display: inline-block;
  vertical-align: top;
  width: 6.167em;
  height: auto;
  margin-left: .1em;
  margin-top: .4em;
}
.madeIn a {
  border-bottom: 0;
}

/* nav */
.nav {
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  display: block;
  -webkit-transition: opacity .7s, visivility .7s;
  transition: opacity .7s, visivility .7s;
}
.nav_frame {
  height: 69px;
  background: #313948;
  color: #fff;
}
.nav_frame-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
#bx-panel.bx-panel-fixed ~ .main_frame .nav_frame-fixed {
  top: 147px;
}
#bx-panel.bx-panel-folded.bx-panel-fixed ~ .main_frame .nav_frame-fixed {
  top: 39px;
}
@media all and (max-width: 759px) {
  .nav_frame {
    height: 50px;
  }
}
.nav_content {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
@media all and (max-width: 1204px) {
  .nav_content {
    height: 100%;
  }
}
.nav_left {
  vertical-align: middle;
  display: table-cell;
}
.nav_right {
  vertical-align: middle;
  display: table-cell;
  text-align: right;
}
.nav_burger-btn {
  border-bottom: 0;
  display: inline-block;
  line-height: 0;
}
.nav_btn {
  display: inline-block;
  height: 1.166666666666667em;
  margin-top: .2222222222222222em;
  width: 1.388888888888889em;
}
.nav_burger-btn:hover .nav_btn {
  fill: #a8b3ba;
}
@media all and (max-width: 1204px) {
  .nav_btn {
    margin-top: .2777777777777778em;
  }
}
@media all and (max-width: 759px) {
  .nav_btn {
    height: .8333333333333333em;
    margin-top: .3333333333333333em;
    width: 1.166666666666667em;
    fill: #fff !important;
  }
}
.nav_search {
  display: none;
}
@media all and (max-width: 1204px) {
  .nav_search .search {
    right: 2em;
    top: .4444444444444444em;
  }
}
@media all and (max-width: 989px) {
  .nav_search .search {
    right: 4em;
  }
}
@media all and (max-width: 759px) {
  .nav_search .search {
    right: 1.5em;
  }
}
.nav_search .search_toggle {
  margin-top: 0;
}
.nav_search .search_toggle .search_loupe {
  fill: #fff;
  height: 1.4em;
  width: 1.4em;
}
@media all and (max-width: 759px) {
  .nav_search .search_toggle .search_loupe {
    height: 1em;
    width: 1em;
    fill: #fff !important;
  }
}
.nav_search .search_toggle .symbol-close {
  fill: #fff;
}
.nav_search .search_toggle:hover .search_loupe {
  fill: #a8b3ba;
}
.nav_search .search_toggle:hover .symbol-close {
  fill: #a8b3ba;
}
@media all and (max-width: 759px) {
  .nav_search .search_toggle {
    margin-right: -0.25em;
  }
}
@media all and (max-width: 759px) {
  .nav_search .search_field {
    height: 2.461538461538462em;
    padding: .3846153846153846em 3em .3846153846153846em .7692307692307692em;
  }
}
@media all and (max-width: 759px) {
  .nav_search .search_button {
    right: .8em;
    top: .5em;
  }
}
@media all and (max-width: 1204px) {
  .nav_search {
    display: block;
  }
}
@media all and (max-width: 759px) {
  .nav_search {
    display: inline-block;
    margin-right: .1111111111111111em;
    vertical-align: middle;
  }
}
.nav_lang {
  display: none;
}
.nav_lang .lang_item {
  border-color: #fff;
  color: #fff;
}
@media all and (max-width: 759px) {
  .nav_lang {
    display: inline-block;
    margin-top: .2222222222222222em;
    vertical-align: middle;
  }
}
.nav_sep {
  display: none;
}
@media all and (max-width: 759px) {
  .nav_sep {
    background-color: #c0c0c0;
    display: inline-block;
    height: 1em;
    margin: 0 1em;
    vertical-align: middle;
    width: 1px;
  }
}
.nav-bottom {
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #cdcdcd;
  background: rgba(51,51,51,1);
  color: #ff4f12;
}
.nav-bottom .nav_left {
  display: none;
}
.nav-bottom .nav_right {
  text-align: center;
}
.main-home .nav-bottom {
  /*! background: #96989a; */
}
@media all and (max-width: 1204px) {
  .nav-bottom {
    padding: 0;
  }
}
.nav-top {
  height: 69px;
}
@media all and (max-width: 759px) {
  .nav-top {
    height: 50px;
  }
}
.main-siteMap .nav {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
@media all and (max-width: 1204px) {
  .nav .column {
    height: 100%;
  }
}
@media all and (max-width: 989px) {
  .nav .column {
    margin: 0;
    padding: 0 42px;
  }
}
@media all and (max-width: 759px) {
  .nav .column {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
  }
}

/* mm */
.mm {
  margin: 1.15em .2777777777777778em 1.45em 0;
  display: inline-block;
  vertical-align: middle;
}
.nav-bottom .mm {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.11111111rem;
  white-space: nowrap;
}
.mm_item {
  border-bottom: 0;
  font-size: 14px;
  font-size: .778em;
  font-family: "RostelecomBasis-Bold";
  margin-left: 1.857142857142857em;
  color: #a8b3ba;
  white-space: nowrap;
  letter-spacing: 0.004em;
  text-decoration: none;
}
.mm_item:hover {
  color: #ff4f12;
}
.mm_item:first-child {
  margin-left: 0;
}
.main-en .mm_item:first-child,
.en .mm_item:first-child {
  margin-left: 2em;
}
.nav-bottom .mm_item {
  color: #FFF;
  font-weight: bold;
  font-size: 0.88888889rem;
  margin-left: 2.16666667rem;
}
.nav-bottom .mm_item:first-child {
  margin-left: 0;
}
.nav-bottom .mm_item:hover {
  color: #ff4f12;
}





/*********************************************************/
/************** PREVIOUS BASE INLINE CSS *****************/
/*********************************************************/
@media screen and (max-width:980px) {
    #rec690593968 .t456__leftcontainer {
        padding: 20px;
    }
}

@media screen and (max-width:980px) {
    #rec690593968 .t456__imglogo {
        padding: 20px 0;
    }
}
@supports (overflow:-webkit-marquee) and (justify-content:inherit) {

  #rec690593968 .t-menu__link-item,
  #rec690593968 .t-menu__link-item.t-active {
      opacity: 1 !important;
  }
}
@media screen and (max-width:980px) {
    #rec690593968 .t-menusub__menu .t-menusub__link-item {
        color: #ffffff !important;
    }

    #rec690593968 .t-menusub__menu .t-menusub__link-item.t-active {
        color: #ffffff !important;
    }
}
#rec690593968 .t456__logowrapper a {
    color: #ffffff;
}

#rec690593968 .t456 a.t-menu__link-item {
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}
#rec690593968 .t456__logo {
    color: #ffffff;
}