.footer {
  padding-top: 1.5rem;
  padding-bottom: 2em;
  font-size: 18px;
  color: #6b6b6b;
  background: #96989a;
  -webkit-transition: opacity .7s, visivility .7s;
  transition: opacity .7s, visivility .7s;
}
/* New custom additions */
.footer p {
  margin: 1.6em 0;
  font-family: "RostelecomBasis";
  font-size: 1em;
  /* 18/18 */
  line-height: 1.3333333333333333rem;
  /* 24/18 */
}
.footer td > p {
  margin: 0;
}

.footer .mistake {
  margin-bottom: 1.6em;
}
.footer .mistake:before {
  /* content: ""; */
  /* display: table; */
}
.footer .mistake:after {
  /* content: ""; */
  /* display: table; */
  /* clear: both; */
}
.footer .mistake_keyboard {
  float: left;
  margin-right: 1.1em;
}
.footer .mistake_text {
  overflow: hidden;
  font-size: .64em;
  line-height: 1.5em;
}
.footer .mistake_btn--confirm {
  margin-top: 2em;
  margin-bottom: 0;
  padding: 0 30px;
  line-height: 30px;
}

/* End of new custom additions */

.footer .column {
  box-sizing: border-box;
  min-width: 320px;
}
.footer .footer_content {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.footer .footer_cell {
  display: table-cell;
  vertical-align: top;
}
.footer .footer_cell-view1 {
  display: none;
}
.footer .footer_cell-view2 {
  padding-right: 3em;
  width: 20em;
  text-align: left;
}
.footer .footer_cell-view2 .footer_addr {
  line-height: 1.5;
}
.footer .footer_cell-view2 .footer_ros-logo {
  display: none;
}
.footer .footer_cell-view2 .madeIn {
  margin-top: 0.94444444rem;
  margin-bottom: 0;
  margin-right: -0.4em;
}
.footer .footer_cell-view2 .madeIn .madeIn_text {
  margin-top: 0.16666667rem;
  margin-right: 0.22222222rem;
  font-size: 0.77777778rem;
}
.footer .footer_cell-view3 {
  display: table-cell;
  padding-top: 0;
  padding-right: 1em;
}
.footer .footer_cell-view3 .about_company {
  text-align: left;
}
@media all and (max-width: 759px) {
  .footer .footer_cell-view3 .about_company {
    text-align: center;
  }
}
.footer .footer_cell-view3 .about_company a {
  color: #cdcdcd;
}
.footer .footer_cell-view3 .about_company a:hover {
  color: #ff4f12;
}
.footer .footer_cell-view3 .about_company p {
  margin-top: 0;
  font-size: 0.777778rem;
  color: #cdcdcd;
}
.footer .footer_cell-view3 .mistake {
  display: block;
  margin: 0;
  min-width: 133px;
}
@media all and (max-width: 759px) {
  .footer .footer_cell-view3 .mistake {
    display: none;
  }
}
.footer .footer_cell-view3 .mistake .mistake_keyboard {
  margin-top: -0.111em;
  /* -2/18 */
}
.footer .footer_cell-view3 .mistake .mistake_text span {
  color: #333333;
}
.footer .footer_cell-view4 {
  text-align: right;
}
.footer .footer_cell-view4 .social {
  margin-top: 0;
  margin-right: -0.27777778rem;
}
.footer .footer_cell-view4 .social_link {
  width: 1.38888889rem;
}
.footer .footer_cell-view4 .social_link:hover .social_item {
  fill: #ffffff;
}
.footer .footer_cell-view4 .madeIn {
  margin-top: 3.33333rem;
  margin-bottom: 0;
  margin-right: -0.4em;
}
.footer .footer_cell-view4 .madeIn .madeIn_text {
  margin-top: 3px;
  margin-right: 5px;
}
.footer .footer_logo {
  display: block;
  margin: 0 auto .5em;
  font-size: 38px;
  margin: .1em .7em 1.6em .2em;
}
.footer .footer_ros-logo {
  margin-top: 3.33333333rem;
  margin-left: auto;
  width: 10.27777778rem;
}
.footer .footer_ros-logo-img {
  max-width: 100%;
}
.footer .footer_addr {
  font-size: 16px;
  font-size: .889em;
  font-family: "RostelecomBasis-Medium";
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.footer .footer_reg {
  margin-top: 0;
  margin-bottom: .15em;
  font-size: 0.74em;
  line-height: 1.8;
  color: #cdcdcd;
}
.main-siteMap .footer {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
@media all and (max-width: 1204px) {
  .footer {
    padding-top: 2.22222222rem;
    padding-bottom: 1rem;
  }
  .inner-page .footer .column {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    margin: 0;
  }
  .inner-page .footer .column {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    margin: 0;
  }
  .footer .column {
    width: 100%;
    padding: 0 2.22222222rem;
    margin: 0 auto;
  }
  .footer .footer_cell-view1 {
    display: none;
  }
  .footer .footer_cell-view2 {
    width: 210px;
    padding-right: 1em;
    text-align: left;
  }
  .footer .footer_cell-view2 .footer_reg br {
    display: none;
  }
  .footer .footer_cell-view2 .madeIn {
    margin-top: 0.55555556rem;
  }
  .footer .footer_cell-view3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1em;
    padding-right: 0;
  }
  .footer .footer_cell-view4 {
    text-align: right;
  }
  .footer .footer_cell-view4 .social {
    margin-bottom: 20px;
  }
  .footer .footer_cell-view4 .madeIn {
    margin-top: -4px;
  }
  .footer .footer_ros-logo {
    margin-top: 2.77777778rem;
  }
}
@media all and (max-width: 759px) {
  .footer {
    padding-top: 1.94444444rem;
    padding-bottom: 1.38888889rem;
  }
  .footer .column {
    padding: 0 1.11111111rem;
  }
  .footer .footer_cell-view2 {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .footer .footer_cell-view2 .footer_reg br {
    display: inline;
  }
  .footer .footer_cell-view2 .footer_ros-logo {
    display: block;
    margin-top: 1.11111111rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .footer_cell-view4 {
    display: block;
  }
  .footer .footer_cell-view4 .footer_ros-logo {
    display: none;
  }
  .footer .footer_cell .social {
    display: none;
  }
  .footer .footer_cell .madeIn {
    text-align: center;
    margin-top: 0.77777778rem;
    margin-right: 0;
  }
}